 # TITANIC DATASET ANALYSIS

In [ ]:
# This analysis is for study purposes only without using pandas, only pure python

In [ ]:
# First Step -> Read file and get data
titanic_csv = open('titanic.csv','r') # Abrir o arquivo
titanic_csv.seek(0) # Define a linha 0
linhas = titanic_csv.readlines() # Cuidado, somente 1x, senão o ponteiro lê do próximo
titanic_csv.close() # Fechar o arquivo

In [2]:
# Second Step -> Treating data
# Defining regular expression for changing name positions and excluding comma -- Surname, Name -> Name Surname
def tratar_nome(linha):
    import re
    match = re.compile(r'"(.*)(,)(\s.*)"')
    return match.sub(r'"\3 \1"', linha)

# Treating every entry
linhaTratada = []
for i in range(1,len(linhas)):
    linhaTratada.append(tratar_nome(linhas[i]))

# Splitting columms into list
colunas = linhas[0].split(',')

In [3]:
# Splitting data into lists
linhaTratadaSplit = []
for j in range(0,len(linhas)-1):
    linhaTratadaSplit.append(linhaTratada[j].split(','))

In [4]:
# Defining keys for dict 
titanic_dados = {}
for coluna in colunas:
    titanic_dados[coluna] = []

In [5]:
# Defining values for dict according to keys
for linha1 in range(0,len(linhaTratadaSplit)):
    col = 0
    for coluna in colunas:
        titanic_dados[coluna].append(linhaTratadaSplit[linha1][col]) 
        col += 1

In [ ]:
# Printing data
for indice,dado in enumerate(titanic_dados[datatype]):
    for datatype in colunas:
        value = titanic_dados[datatype][indice]
        print('Dado: ',datatype,'Valor: ',value,'Índice: ',indice)

In [6]:
# Converting str to float and treating non existing values
titanic_dados['AgeInt'] = []
for idd,val in enumerate(titanic_dados['Age']):
    if titanic_dados['Age'][idd] == '':
        titanic_dados['Age'][idd] = -1
    else:
        titanic_dados['Age'][idd] = float(val)

In [14]:
# Creating new age list to avoid -1 problems
listaIdades = []
for eNum in titanic_dados['Age']:
    if eNum != -1:
        listaIdades.append(eNum)

In [20]:
# Age Statistics
def media(listaIdades):
    soma = sum(listaIdades)
    entradas = len(listaIdades)
    media = soma/entradas
    return media

mediaIdades = media(listaIdades)

# Setting every -1 value as the media (this way we wont affect the overall media)
for idd, value in enumerate(titanic_dados['Age']):
    if value == -1:
        titanic_dados['Age'][idd] = mediaIdades