## Data Preparation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
# Data import and previous treatment
regColumns = ['dia','mes','ano','cliente','veiculo','placa','valor','servico']
dayColumns = ['data','dia','mes','ano','valor']
monthColumns = ['data','mes','ano','valor']

regData= pd.read_csv('registros.csv', encoding='latin-1', header=0, sep=';', names=regColumns)
dayData = pd.read_csv('soma_diaria.csv', encoding='latin-1', header=0, sep=';', names=dayColumns)
monthData = pd.read_csv('soma_mensal.csv', encoding='latin-1', header=0, sep=';', names=monthColumns)

# Register Data Preparation

In [25]:
regData.head(10)

   dia  mes  ano          cliente   veiculo    placa  valor servico
0    1    4   20  JULIAN SILVEIRA    RANGER  IXU7D08     30     NaN
1    2    4   20  JULIAN SILVEIRA    RANGER  IXU7D08     70     NaN
2    2    4   20   GIOVANE BANCOS     FOCUS  NIN6C91    100     NaN
3    2    4   20              NaN       Fox  ITO7654     40     NaN
4    2    4   20         MONTANHA     PALIO  IVO6973     20     NaN
5    2    4   20         SEM NOME       NaN  ITF9873     40     NaN
6    2    4   20           JUNIOR       UNO  IQM4554     20     NaN
7    2    4   20             ZETI  ECOSPORT  IWH6997     40     NaN
8    2    4   20           MURIEL     OMEGA  JKV7B27     40
9    2    4   20         SEM NOME       FOX  IUF5691     40     NaN

In [22]:
regData.cliente.value_counts().head()

CLAITON    52
TIAGO      45
ZIANI      44
EDUARDO    41
PADOIN     41
Name: cliente, dtype: int64

In [43]:
regData.describe(include='all')

,dia,mes,ano,cliente,veiculo,placa,valor,servico
count,3705.000000,3705.000000,3705.000000,3678,3686,3608,3705.000000,3209
unique,NaN,NaN,NaN,1022,317,1652,NaN,117
top,NaN,NaN,NaN,CLAITON,SAVEIRO,IVE9384,NaN,COMPLETA
freq,NaN,NaN,NaN,52,215,31,NaN,1879
mean,15.401080,6.821323,20.388934,NaN,NaN,NaN,42.772470,NaN
std,8.638842,3.079390,0.785008,NaN,NaN,NaN,27.418952,NaN
min,1.000000,1.000000,0.000000,NaN,NaN,NaN,12.000000,NaN
25%,8.000000,5.000000,20.000000,NaN,NaN,NaN,20.000000,NaN
50%,15.000000,7.000000,20.000000,NaN,NaN,NaN,40.000000,NaN
75%,22.000000,9.000000,21.000000,NaN,NaN,NaN,45.000000,NaN
max,88.000000,20.000000,21.000000,NaN,NaN,NaN,400.000000,NaN

In [44]:
regClientCut = regData.cliente.dropna(how='any')

In [45]:
regValueCut = regData.valor.dropna(how='any')

# Daily Data Preparation