In [1]:
import numpy as np
import pandas as pd

In [3]:
drinksData = pd.read_csv('drinks.csv')
drinksData.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [4]:
drinksData.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [8]:
# Modificando o tipo em série existente
drinksData['beer_servings'] = drinksData.beer_servings.astype(float)
drinksData.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [9]:
# É possível modificar o tipo durante a importação
drinksData = pd.read_csv('drinks.csv', dtype={'spirit_servings':float})
drinksData.dtypes

country                          object
beer_servings                     int64
spirit_servings                 float64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [22]:
sales = pd.read_table('sanduiches.txt')

In [23]:
sales.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [24]:
# Retirando o $, trocando para float, tirando a média
sales.item_price.str.replace('$','').astype(float).mean()

7.464335785374397

In [25]:
# Convertendo serie boolean em integer - conta quantos sanduíches
# possuem frango
sales.item_name.str.contains('Chicken').astype(int).sum()

1560

In [26]:
# Servem coca?
sales.choice_description.str.contains('Coke').astype(int).sum()

ValueError: cannot convert float NaN to integer

In [2]:
# Importando outro dataset 
columns = ['City','Colors_Reported','Shape_Reported','State','Time']
ufo = pd.read_csv('ufo.csv',names=columns)
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [3]:
# linhas finais do dataset
ufo.tail()

              City Colors_Reported Shape_Reported State              Time
18237   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18238  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18239  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18240  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18241         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [4]:
# Verifica as nulas e conta
ufo.isnull().sum()

City                  25
Colors_Reported    15359
Shape_Reported      2644
State                  0
Time                   0
dtype: int64

In [14]:
# Retorna somente não nulas
B = ufo[(ufo.City.notnull()) & (ufo.Colors_Reported.notnull()) & (ufo.Shape_Reported.notnull()) & (ufo.State.notnull()) & (ufo.Time.notnull())]
B.shape

(2487, 5)

In [15]:
# Método DROPNA - se qualquer valor estiver NaN na linha, dropna apaga a linha
C = ufo.dropna(how='any').shape
C

(2487, 5)

In [20]:
# value_counts realiza um count de válores válidos, ou seja, não NaN
ufo['Shape_Reported'].value_counts(dropna = False).head()

LIGHT       2803
DIVERSOS    2644
DISK        2122
TRIANGLE    1889
OTHER       1402
Name: Shape_Reported, dtype: int64

In [18]:
# Preenchimento de valores NaN
ufo['Shape_Reported'].fillna(value='DIVERSOS', inplace=True)

In [19]:
ufo.Shape_Reported.value_counts().head()

LIGHT       2803
DIVERSOS    2644
DISK        2122
TRIANGLE    1889
OTHER       1402
Name: Shape_Reported, dtype: int64

In [28]:
# RETORNANDO AO PROBLEMA DA COCA

In [52]:
sales2 = pd.read_table('sanduiches.txt')

In [53]:
sales2.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [59]:
sales2.choice_description.fillna(value='Nao informado',inplace=True)

In [61]:
sales2.choice_description.isnull().sum()

0

In [62]:
sales2.choice_description.str.contains('Coke').astype(int).sum()

257

In [63]:
sales2.choice_description.str.contains('Guacamole').astype(int).sum()

1037

In [64]:
sales2.choice_description.str.contains('Rice').sum()

2402