In [1]:
import numpy as np
import pandas as pd

In [2]:
drinksData = pd.read_csv('drinks.csv')

In [4]:
drinksData.index

RangeIndex(start=0, stop=193, step=1)

In [5]:
# colunas são um tipo especial de index
drinksData.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [6]:
pd.read_table('Users.txt', header=None, sep='|').head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [8]:
drinksData[drinksData.continent == 'South America']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
6,Argentina,193,25,221,8.3,43.085.000,South America
20,Bolivia,167,41,8,3.8,11.410.651,South America
23,Brazil,245,145,16,7.2,207.660.929,South America
35,Chile,130,124,172,7.6,18.006.407,South America
37,Colombia,159,76,3,4.2,48.336.300,South America
52,Ecuador,162,74,3,4.2,16.027.500,South America
72,Guyana,93,302,1,7.1,746.900,South America
132,Paraguay,213,117,74,7.3,7.003.406,South America
133,Peru,163,160,21,6.1,31.151.643,South America
163,Suriname,128,178,7,5.6,534.189,South America
185,Uruguay,115,35,220,6.6,3.415.866,South America
188,Venezuela,333,100,3,7.7,30.620.404,South America

In [10]:
# Na seleção podemos trazer uma parte do DF utilizando o índice
# a função loc permite a localização por índice
drinksData.loc[6,'beer_servings']

193

# Alterando índices

In [11]:
# define a coluna country como um índice categórico
drinksData.set_index('country',inplace=True)

In [12]:
drinksData.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [13]:
drinksData.loc['Brazil','beer_servings']

245

# Renomeando os índices

In [14]:
drinksData.index.name = None

In [17]:
drinksData.index.name = 'Country'

# Resetando um índice

In [22]:
drinksData.reset_index(inplace = True)

# Métodos de Dataframes em Séries

In [23]:
# podemos mesclar métodos de dataframes
drinksData.describe().loc['mean','beer_servings']

106.16062176165804

In [25]:
# o pandas inclui um índice automático para as séries, de acordo com o dataaset original
# para alterar:
drinksData.set_index('Country', inplace=True)

In [26]:
# o indíce é incluído automaticamente
drinksData.continent.head()

Country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [30]:
drinksData.continent.value_counts().index

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [31]:
# acessando os valores da série
drinksData.continent.value_counts().values

array([53, 45, 44, 23, 16, 12], dtype=int64)

In [33]:
drinksData.continent.value_counts().Africa

53

# Alinhamento

In [34]:
# Definindo classificação: 0-75 Baixa, 76-150 Media, 151-... Alta
cons_beer = pd.Series(['Baixo','Baixo','Alto'], index=['Afghanistan','Albania','Andorra'], name='consumo')
cons_beer

Afghanistan    Baixo
Albania        Baixo
Andorra         Alto
Name: consumo, dtype: object

In [35]:
# para alinhar duas séries/dataframes
pd.concat([drinksData, cons_beer], axis=1).head()

,index,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,consumo
Afghanistan,0,0,0,0,0.0,34.660.000,Asia,Baixo
Albania,1,89,132,54,4.9,2.876.000,Europe,Baixo
Algeria,2,25,0,14,0.7,40.061.000,Africa,NaN
Andorra,3,245,138,312,12.4,77.281.000,Europe,Alto
Angola,4,217,57,45,5.9,28.081.000,Africa,NaN