## Data Preparation Tool

In [2]:
import pandas as pd
import numpy as np
import os

In [ ]:
## Dont need to execute again if file is already merged
# Merging 12 months into single CSV file
files = [file for file in os.listdir('./Sales_Data')]
allData = pd.DataFrame()

for file in files:
    df = pd.read_csv("./Sales_Data/" + file)
    allData = pd.concat([allData, df])

allData.to_csv('allData.csv',index=False)

#### Reading updated Dataset and making initial analysis

In [3]:
# Reading updated dataset 
columnsNames = ['OrderId','Product','QuantityOrdered','PriceEach','OrderDate','PurchaseAddress']
dataset = pd.read_csv('allData.csv', header=0, names=columnsNames)
dataset.head()

,OrderId,Product,QuantityOrdered,PriceEach,OrderDate,PurchaseAddress
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [4]:
# Checking dataset interest info
print('columns: ',dataset.columns, '\n')
print('dtypes: ',dataset.dtypes, '\n')
print('Shape: ', dataset.shape, '\n')

columns:  Index(['OrderId', 'Product', 'QuantityOrdered', 'PriceEach', 'OrderDate',
       'PurchaseAddress'],
      dtype='object')

dtypes:  OrderId            object
Product            object
QuantityOrdered    object
PriceEach          object
OrderDate          object
PurchaseAddress    object
dtype: object

Shape:  (186849, 6)

In [5]:
# Removing NaN entries from interest data (OrderDate, PriceEach, QuantityOrdered)
dataset.dropna(subset=['OrderDate','PriceEach','QuantityOrdered'], how='any', inplace=True)
dataset[dataset.isna().any(axis=1)] # check if there are NaN values

Empty DataFrame
Columns: [OrderId, Product, QuantityOrdered, PriceEach, OrderDate, PurchaseAddress]
Index: []

In [6]:
# Correcting duplicated index lines from merge
dataset.drop(dataset.loc[dataset.OrderDate == 'Order Date'].index, axis=0, inplace = True)
dataset.loc[dataset.OrderDate == 'Order Date'].index # check if there are duplicated

Int64Index([], dtype='int64')

In [8]:
# Correcting columns format
dataset['QuantityOrdered'] = dataset.QuantityOrdered.astype(int)
dataset['PriceEach'] = dataset.PriceEach.astype(float)
dataset['OrderDate'] = pd.to_datetime(dataset['OrderDate'])

In [9]:
# If already created, dont execute again
dataset.to_csv(r'D:\Learning\EstudosDataScience\Projetos\20210821 Sales Analysis\3 - Dados de Upload\20210821\dataset.csv',index=False)

In [10]:
dataset.PriceEach.head()

0     11.95
1     99.99
2    600.00
3     11.99
4     11.99
Name: PriceEach, dtype: float64

In [ ]:
dataset.PriceEach.astype